.Top
    {background-color:blue;
    	color: red;
    	font-size:40px}

 .Middle
    	{background-color:orange;
    		color:green;
    		font-size:30px;}
 .Bottom   
 		{background-color:yellow;
 			color:skyblue;
 			font-size:20px;}
